.header-top {
    background-color: #9bd629;
}

.header-top-p {
    text-align: center;
    color: whitesmoke;
}

.header-nav {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

.header-nav-txt-container {
    flex: 1;
    display: flex;
}

.header-nav-title {
    flex: 1;
    font-size: 1.7rem;
}

    .header-nav-title p {
        margin: 10px;
    }

.header-nav-sections {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

    .header-nav-sections div {
        flex: 1;
    }

    .header-nav-sections p {
        margin-top: 15px;
    }

.header-nav-txt {
    width: 65%;
    margin-left: 5%;
}

.header-sections {
    display: flex;
    text-align: center;
    justify-content: center;
}

    .header-sections a {
        text-decoration: none;
        color: black;
    }

    .header-sections div {
        margin: 10px 25px;
    }

.section-div {
    text-align: center;
    width: 50vw;
    margin: auto;
}

.section-div-p1 {
    font-size: 3rem;
}

.section-div-p3 {
    font-size: 3rem;
    /*color: red;*/
}

.grid-container {
    width: 80%;
    margin: auto;
}

.card-img-top {
    height: 100%;
}

.btn-card {
    width: 50%;
    margin: 0px auto 10px;
}

    .btn-card:hover {
        background-color: #227dcc;
        cursor: pointer;
    }

.footer {
    background-color: rgb(237, 237,237);
    margin-top: 70px;
    padding: 80px;
}

.footer-container-1 {
    display: flex;
    justify-content: space-around;
}

.footer a {
    display: block;
}

.card-body {
    text-align: center;
}

.section-articulo {
    display: flex;
    padding: 50px 200px
}

.section-articulo-container {
    flex: 1
}

.miParrafo {
    display: none;
}

.txtCantidad {
    width: 100px;
    margin-bottom: 10px;
}

.btnCarrito {
    margin-bottom: 10px;
}

.imgArticulo {
    width: 500px;
    height: 500px;
}

.dgv-container {
    margin: 20px 50px;
}

.btn-warning {
    display: inline-block;
}
